fastapi==0.115.0
uvicorn[standard]==0.30.6
websockets==12.0
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
numpy==1.26.4
scikit-learn==1.5.2
xgboost==2.1.1
onnxruntime==1.19.2
mediapipe==0.10.18
librosa==0.10.2
soundfile==0.12.1
transformers==4.44.2
torch==2.4.1
torchvision==0.19.1
aiofiles==24.1.0
python-multipart==0.0.12
